#########################################################
################ CONFIGURATION SERVEUR ##################
#########################################################

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

##### CONNECTION SQL #####
set mysql_connection_string "server=localhost;uid=root;password=;database=template;charset=utf8mb4_danish_ci;sslmode=none"
set es_enableCustomData 1 

#########################################
################ DEFAULT ################
#########################################
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog

#########################################
################ SCRIPTS ################
#########################################

#--> Essential <--#
ensure mysql-async
ensure esplugin_mysql
ensure essentialmode
ensure async
ensure es_extended
#ui
ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list

#--> ESX <--#
#base
ensure esx_base
ensure esx_basicneeds
ensure esx_status
ensure esx_identity
ensure esx_skin
ensure skinchanger
ensure esx_status

#########################################################
################ CONFIGURATION SERVEUR ##################
#########################################################

add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow

set onesync on
sv_maxclients 48
sv_scriptHookAllowed 0
sets locale "fr-FR"
sv_hostname "BaseTemplate [ByModeo]"

set steam_webApiKey "49541F630C9478220A7C707196285483"
sv_licenseKey w5wsp9d9yqh1ysch63tvxf4c2cx788ii